/*CSS by Shauna Kimura, Rachel Liston*/

/*   Standard Items */

h2 {
    font-family: Open Sans,sans-serif;
    color: #5b707c;
    font-style: normal;
}

body{
    font-family: Open Sans,sans-serif;
    font-size: 14pt;
    margin: auto;
    width: 90%;
    background-color: whitesmoke;
    text-align: left;


}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    
}

fieldset{
    border: 2px solid;
    border-radius: 5px;
    clear: both;
    margin-top: 2em;
    padding: 1em;
}

footer{
    clear: both;
}


header{
    text-align: center;
    font-family: Century Gothic;
    background-color:#b28a72;
    color: lightblue;
    font-size: 20pt;
    top: 0;
    width: 100%
}

hr{
    visibility: hidden;
}

img {
    opacity: 1.0;
}

label {
    padding-right: 1em;
} 

#main {
    transition: margin-left .5s;
    padding: 16px;
    margin-top: 30px;
}

/* Navigation */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    position: fixed;
    opacity: .45;
    position: sticky;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* Custom Section */

/*grid layout of images*/
#grid { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: stretch;
    justify-items: center;
}

/*format of grid images*/ 
#grid img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    max-width: 100%;
    border-radius: 5px;
    size: medium;
}

/*hides radio buttons for images*/
.seaOtterSelector label > input{
    visibility: hidden;
    position: absolute;  
} 

/*changes cursor when hovering images*/
label > input + img{
    cursor: pointer;
    border: 2px solid transparent;
}

/*changes format of image when selected*/
#grid input:checked + img{
    border: 2px solid grey;
}
#grid label{
    text-align: center;
}

.roundedCornersSmall{
    border-radius: .4em;
    max-width: 100%;
    height: 400px;
}

.button {
    background-color: tan;
    color: white;
    border: none;
    font-size: 16px;
    padding: 15px 32px;
}

.button:hover {
    cursor: pointer;
   
}
