/*CSS by Shauna Kimura, Rachel Liston*/

/*   Standard Items */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Charmonman');
article {
    text-align: left;
}

h2 {
    font-family: 'Roboto Condensed',serif;
    color: #5b707c;
    font-style: normal;
}

body{
    font-family: 'Roboto Condensed', serif;
    font-size: 14pt;
    margin: auto;
    width: 75%;
    background-color: whitesmoke;
    text-align: left;
}

html {
    background: url("../images/background.jpg")no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    float: right;
    margin-left: 1em; 
    margin-bottom: 2em;
}

/*CSS for the Donate page (form)*/


fieldset{
    border: hidden;
    margin: 0.5em;
    margin-bottom: 2em;
}

legend{
    text-transform: uppercase;
    background-color: #b1c4ce;
    border: hidden;
    padding: 10px 20px;
    text-align: left;
}

label{
    color: black;
    display: block;
    font-weight: bold;
    padding-right: 1em;
}

input{
    box-sizing: border-box;
    border: 2px solid #C2C2C2;
    box-shadow: 2px 2px 4px #EBEBEB;
    border-radius: 3px;
    padding: 1em;
    margin-top: 0.3em;
}

input:focus{
    border: 1px solid #0C0;
}

input[type=submit]{
    background: #b1c4ce none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    box-shadow: 1px 1px 4px #dadada;
    color: #fff;
    font-size: 20px;
    width: 100%;
}

.buttons legend{
    display: none;
}

.form-heading{
    border-bottom: 2px solid #b1c4ce;
    font-size: 0.9em;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 1.75em;
    padding-bottom: 0.4em;
}

.text-field{
    width: 100%;
}

/* style the errors in the form so they are visible */
.mistake {
    color: #fff;
    background-color: #800;
    border: thin solid #000;
}

#errors ol li{
    color: #ff5555;
}

/* lab 11*/
input,
textarea,
select{
    box-sizing: border-box;
    border: 2px solid #C2C2C2;
    box-shadow: 2px 2px 4px #EBEBEB;
    border-radius: 3px;
    padding: 1em;
}

input:focus,
textarea:focus,
select:focus{
    border: 1px solid #0C0;
}

footer{
    clear: both;
}

p {
    text-indent: 1em;
    padding: 0.5em;
}

header{
    text-align: left;
    font-family: 'Charmonman',serif;
    color: #5b6982;
    font-size: 25pt;
    top: 0;
    width: 100%;
    margin-top: 1em;
    padding-top: 0.01em;
}

hr{
    visibility: hidden;
}

img {
    opacity: 1.0;
}

label {
    padding-right: 1em;
} 

legend {
    border-radius: 5em;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    margin-top: 30px;
}

/* Navigation */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    opacity: .45;
    padding: 10px 15px;
    border-radius: 5em;
    position: static;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* Custom Section */

/*grid layout of images*/
#grid { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/*format of grid images*/ 
#grid img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    max-width: 100%;
    border-radius: 5px;
}

/*hides radio buttons for images*/
.seaOtterSelector label > input{
    visibility: hidden;
    position: absolute;  
} 

/*changes cursor when hovering images*/
label > input + img{
    cursor: pointer;
    border: 2px solid transparent;
}

/*changes format of image when selected*/
#grid input:checked + img{
    border: 2px solid grey;
}
#grid label{
    text-align: center;
}

.roundedCornersSmall{
    border-radius: .4em;
    max-width: 100%;
    height: 400px;
}


.button:hover {
    cursor: pointer;
   
}

.logo {
    float: left;
    width: 200px;
    padding-right: 1em;
}
.show {
    visibility: visible;
}

.picsofus {
    width: 350px;
}
.us {
    margin-left: auto;
    margin-right: auto;
}
.show {
    visibility: visible;
    margin-left: 1.5em;
    margin-right: 1.5em;
    color: lightblue;
    opacity: .4;
    height: 5px;
    background-color: #c7cfdb; 
    border: hidden;
    
}
